.profileCon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:100px;
}

.pContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.form-group {
  margin-bottom: 1rem;
}

.Input{
  height: 40px;
  margin: 10px;
  padding: 15px;
  width: 100%;
}

.Button {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.reservationCon{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.linkMargin{
  margin: 10px;
}